{{ range .Site.Data.Team }}
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 team-member-wrapper">
            <span class="lead-graphic"></span>
            <div class="team-member card">
	            <div class="image-holder" style="padding: 15px;">
	                <img class="card-img-top" src="/assets/images/team-images/{{ .Image }}" alt="{{ .Name }}">
                </div>
                <div class="team-member-role">
	                {{ .Role }}
                </div>
                <div class="team-member-details">
	                <div class="team-member-nickname">{{ if .CountryCode }}<span title="{{ .CountryCode | lower}}" class="flag-icon flag-icon-{{ .CountryCode | lower}}"></span>{{ end }} {{ .Nickname }}</div>
	                <div class="team-member-name">{{ .Name }}</div>
	                <div class="team-member-subtitle">{{ .Subtitle }}</div>
                </div>
                <div class="team-member-contact d-flex justify-content-between px-3">
					{{ if .Github }}<div class=""><a href="http://www.github.com/{{ .Github }}" target="_blank"><i class="fab fa-github"></i></a></div>{{ end }}
					{{ if .Linkedin }}<div class=""><a href="http://www.linkedin.com/in/{{ .Linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></div>{{ end }}
					{{ if .Twitter }}<div class=""><a href="http://www.twitter.com/{{ .Twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></div>{{ end }}
					{{ if .Discord }}<div class=""><a href="http://www.discord.com/{{ .Discord }}" target="_blank"><i class="fab fa-discord"></i></a></div>{{ end }}
					{{ if .Website }}<div class=""><a href="{{ .Website }}" target="_blank"><i class="fa fa-globe"></i></a></div>{{ end }}
                </div>
            </div>
        </div>
{{ end }}

